<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Client Side Storage</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <h2>Cats</h2>
    <div v-for="(cat, n) in cats">
      <p>
        <span class="cat">{{ cat }}</span>
        <button @click="removeCat(n)">Remove</button>
      </p>
    </div>
  
    <p>
      <input v-model="newCat">
      <button @click="addCat">Add Cat</button>
    </p>
  </div>
</body>

<script>


class Cat {

  constructor(nom, race) {
    this.nom = nom
    this.race = race

    this.jumpTime = 0
  }

  sauter() {
    this.jumpTime += 1
    return this.toString() + ' a sauté'
  }

  getJumpTime() {
    return this.jumpTime
  }

  setNom(nom) {
    this.nom = nom
  }

  setRace(race) {
    this.race = race
  }

  toString() {
    return 'mon chat ' + this.nom + ' ' + this.race
  }

}

let newCat1 = new Cat('remi', 'chartreux')
let newCat2 = new Cat('camille', 'mainkoon')
 
console.log(newCat1.toString(), newCat2.toString())
console.log(newCat1.sauter())
console.log(newCat1.sauter())
console.log(newCat1.sauter())
console.log(newCat1.getJumpTime(), newCat2.getJumpTime())




/*

const app = new Vue({
  el: '#app',
  data: {
    cats: [],
    newCat: null
  },
  mounted() {
    if (localStorage.getItem('cats')) {
      try {
        this.cats = JSON.parse(localStorage.getItem('cats'));
      } catch(e) {
        localStorage.removeItem('cats');
      }
    }
  },
  methods: {
    addCat() {
      // ensure they actually typed something
      if (!this.newCat) {
        return;
      }

      this.cats.push(this.newCat);
      this.newCat = '';
      this.saveCats();
    },
    removeCat(x) {
      this.cats.splice(x, 1);
      this.saveCats();
    },
    saveCats() {
      const parsed = JSON.stringify(this.cats);
      localStorage.setItem('cats', parsed);
    }
  }
})

*/
</script>

</html>